# Config File for memcached
#
# To use defaults comment out option.
#

# Port memcached should listen on
PORT1={{ memcached_port3 }}

# User memcached should run as
# Default nobody
USER={{ memcached_user }}

# Limit the number of simultaneous incoming connections. The daemon default is 1024.
MAXCONN="{{ memcached_connections }}"

# Start with a cap of 64 megs of memory. It's reasonable, and the daemon default
# Note that the daemon will grow to this size, but does not start out holding this much
# memory
#CACHESIZE="64"
CACHESIZE="{{ memcached_cache }}"

# IP memcached should listen on
#IP="{{ ansible_default_ipv4.address }}"
IP="{{ memcached_listen_ip }}"

# Amount of RAM in megabytes memcached should use
# Default 1.5 Gig
RAM1={{ memcached_memory_limit }}
